{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--START SLIDER-->
<div class="row slider">
    <div class="h3 text-center"><b>Deals</b><b style="color:#4e83ab">Of</b><b>The</b><b style="color:#4e83ab">Day</b></div>
    <div class="col-sm-12">
        <!--start slider-->
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/sliderz2a.jpg' %}" class="d-block w-100" style="max-height:500px"
                         alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Summer Reading</h5>
                        <p>Meet your next favourite book.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/sliderz3a.jpg' %}" class="d-block w-100" style="max-height:500px"
                         alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Magic Books</h5>
                        <p>Coming out day Reading List.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/sliderz1a.jpg' %}" class="d-block w-100" style="max-height:500px"
                         alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Just Us</h5>
                        <p>Biography and Memories.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</div>
<!--END SLIDER-->
<!--category-->
<div class="row category bg-light fontfamily py-2">
    <div class="h3 text-center pt-1"><b>Best</b><b style="color:#4e83ab"> Sellers</b></div>
    <div class="col-sm-1"></div>

    <div class="col-sm-10 pt-1">
        <div class="row">
            {% if data %}
            {% for x in data %}
            <div class="col-sm-2" style="min-width:170px;">
                <div class="row">
                    <div class="col-sm-12 border p-2">
                        <div class="card w-100">
                            <img src="../{{x.cpic}}" class="card-img-top border p-2" alt="..." style="min-width:150px;height:130px;">
                            <div class="card-body">
                                <div class="font text-center">{{x.cname}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<!--end category-->
<!--start new product-->
<div class="row newproduct py-2 fontfamily">
    <div class="h3 text-center pt-1"><b>New</b><b style="color:#4e83ab"> Release</b><b> Books</b></div>

    {% if products %}
    {% for x in products %}
    <div class="col-sm-2 pt-1">
        <div class="card w-100">
            <img src="/{{x.ppic}}" class="card-img-top" alt="..."style="height:180px;width:180px;padding:5px;">
            <div class="card-body">
                <b class="card-title"style="font-size:15px">{{x.name}}</b>
                <p style="color:grey;font-size:14px;">{{x.category}}</p>
                <p style="font-size:13px;"><b style="font-size:13px">Language:</b>{{x.language}}</p>
                <b style="font-size:14px;">Rs: </b> <s class="text-danger font">{{x.tprice}}/-</s><b style="font-size:13px;">{{x.disprice}}/</b>
                <a href="/user1/viewdetails?msg={{x.id}}" class="btn rounded but">Buy Now</a>
                <a href="/user1/process?pid={{x.id}}&bn=cart" target="_blank" class="btn rounded but">Cart</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

</div>

<div class="row fontfamily ">
    <div class="h3 text-center pt-4"><b>Watch</b><b style="color:#4e83ab"> Our</b><b> New</b><b style="color:#4e83ab"> Documentary</b> Series<b></b></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-10 offer my-2 bg-light text-primary">
        <div class="row">
            <div class="col-sm-4">
                <b>01.</b>
                <div class="fs-3">Maya Banks</div>
                <p>(Wherever You Are)A KGI novel of nonstop suspense and explosive passion from #1 New York Times bestselling
                    author of brighter than the sun.</p>
                <b>02.</b>
                <div class="fs-3">All the Feels</div>
                <p>Olivia Dade returns with another utterly charming romantic comedy about a devil-may-care actor-
                    who actually cares more than anyone knows-and no-nonsense woman hired to keep him in line.</p>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12"></div>
                    <img src="{% static 'images/midbook4a.jpg'%}"style="paddding:30px;"/>
                </div>
            </div>
            <div class="col-sm-4">
                <b>03.</b>
                <div class="fs-3">Sleepless</div>
                <p>it's been years since Nadja Kulka was convicted of a cruel crime.After being released from prison,she;s
                    wanted nothing more than to live a normal life..</p>
                <b>04.</b>
                <div class="fs-3">E.R. Nurses</div>
                <p>James Patterson and Matt Eversmann present the medical frontline heroes who work to save our lives
                    every day:E.R.Nurses.This book will make you laugh,make you cry,make you understand.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<!--end new product-->
<!--start services-->
<div class="row services p-2 fontfamily">
    <div class="col-sm-6 px-5">
        <div class="h3 pt-3"><b>Services</b><b style="color:#4e83ab"><i class="fa fa-tasks"></i></b></div>
        <p class="f6 font-family">The BookTown is an open,editable library catalog,building towards a web page for every book ever published.
            one web page for every book ever published.It is a lofty but achievable goal.
            BookTown is open project,and we welcome your contribution.our project is a project of non-profit Internet Archieve
            and has been made for helping human kind.We are trying always to fulfill our readers wishes.
        </p>
        <br/>
        <input type="button" value="View More.." class="btn but"/>
    </div>
    <div class="col-sm-6 py-4">
        <img src="{% static 'images/sliderz5b.jpg' %}" class="img-fluid" style="height:300px;width:90%"/>
    </div>
</div>
<!--end services-->
{% endblock %}