{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .form-control
    {
    margin-bottom:10px;
    }
    .signup
    {
    min-height:500px;
    }
    ::placeholder
    {
    font-size:13px;
    }
    input type
    {
    font-size:13px;
    }
</style>
<div class="row fontfamily">
    <div class="h3 text-center"><b>Sign</b><b style="color:#4e83ab">Up<i class="fa fa-user"></i></b></div>
    <div class="col-sm-4 py-2"></div>
    <div class="col-sm-4 pt-2 bg-light signup">

        <form method="post" autocomplete="off" enctype="multipart/form-data"style="font-size:13px;">
            {% csrf_token %}
            {% if S %}
            <div class="alert alert-success">
                Registered Successfully...
            </div>
            {% endif %}
            <div class="row">
                <div class="col-sm-12">


                    <b>Name</b><input type="text" name="name" required class="form-control" placeholder="Enter your Name"/>
                    <b>Date of Birth</b><input type="date" name="dob"  required class="form-control"style="font-size:12px;" placeholder="Enter your Birth date"/>
                    <b>Mobile</b><input type="number" name="mobile" required class="form-control"
                                 placeholder="Enter your Mob no.."/>
                    <b>Email</b><input type="email" name="email" required class="form-control" placeholder="Enter your Email"/>
                    <b>Password</b><input type="password" name="passwd" required class="form-control"
                                   placeholder="Enter your Password"/>
                    <b>Profile Picture</b><input type="file" name="ppic" required class="form-control font"/>
                    <b>Address</b>
                    <textarea class="form-control" name="address" style="min-height:80px;resize:none;"
                              placeholder="Enter Your Address." required></textarea>
                    <input type="submit" value="Sign Up" class="btn rounded but"/>
                </div>
            </div>
        </form>
        <div class="text-center pb-2" style="color:grey;font-size:13px;">Existing Already? <a href="/user1/signin/"><b>Sign In</b></a></div>
    </div>
    <div class="col-sm-4"></div>
</div>

{% endblock %}